*{
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    font-family: sans-serif;
    
}

h1{
    font-size: 50px;
    color: white;
}

h2{
    font-size: 20px;
    color: white;
}

h3{
    font-size: 2em;
}

ul{
    list-style: none;
}

li{
    font-size: 1.2em;
}

#lugares a{
    font-size: 15px;
    font-weight: bold;
    padding: 5px 30px;
    text-decoration: none;
    border-radius: 10px;
    border: 2px solid rgb(255, 255, 255);
    color: white;
    background-color: grey;
}

#lugares a:hover{
    font-size: 20px;
}


.contenedor{
    max-width: 1200px;
    margin: auto;
    text-align: center;
}

header{
    background-color: rgba(117, 24, 223, 0.932);
    position: fixed;
    width: 100%;
}

header .logo{
    margin: 0;
    padding: 25px 30px;
    font-weight: bold;
    color: white;
    font-size: 2em;
}

header .contenedor{
display: flex;
flex-direction:column;
align-items: center;

}

header nav{
    display: flex;
    flex-direction: flex;
    text-align: center;
    padding-bottom: 25px;
}

header a{
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: white;
}

header a:hover{
    text-decoration:underline;
}

#hero{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 100vh;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ) 
    ,url(img2.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.form-control {
    display: block;
    width: 100%;
    padding: 0.75rem 1rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
.fondo{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 100vh;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ) 
    ,url(fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 60px;
}
.form-registro{
    width: 60%;
    background: grey;
    padding: 20px;
    margin: auto;
    margin-top: 40px;
    border-radius: 10px;
}

.form-registro h4{
    font-size: 35px;
    text-align: center;
    color: white;
}

.controles{
    width: 100%;
    background: white;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 18px;
}

.form-registro p{
    height: 40px;
    text-align: center;
    font-size: 18px;
}

.form-registro a{
    color: white;
    text-decoration: none;
}

.form-registro a:hover{
    color: white;
    text-decoration: underline;
}

.form-registro .boton{
    width: 50%;
    background: #212529;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 20px;
    border-radius: 5px;
}

.form-registro .boton:hover{
    font-size: 25px;
}

#contactos{
    background-color: black;
    color: white;
    padding: 20px;
    font-size: 10px;
    text-align: center;
}
@media (min-width: 720px){
    header{
        position: fixed;
        width: 100%;
    }

    header .contenedor{
        flex-direction: row;
        justify-content: space-between;
    }
    header nav{
        flex-direction: row;
        padding-bottom: 0;
    }

    #lugares .postales{
        display: flex;
        justify-content: center;
        background-position: center;
    }
    #lugares .postal{
        padding: 60px;
        height: 250px;
        width: 700px;
    }
    #lugares h2{
        font-size: 50px;
    }

    #equipo-de-trabajo .equipo{
        display: flex;
        justify-content: center;
    }
    
    #contactos ul{
        display: flex;
        justify-content: center;
    }

    #sobre-nosotros .contenedor{
        display: flex;
    }
    #hero h1{
        font-size: 70px;
    }
    #hero h2{
        font-size: 35px;
    }
    #sobre-nosotros{
        height:50vh;
    }

    #equipo-de-trabajo{
        height: 60vh;
    }
}
